<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Wvy's Place</title>
  <!-- css -->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/works.css">
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="css/about.css">
  <!-- Gfonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Righteous&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/615ea7a76f.js" crossorigin="anonymous"></script>
  <!-- favicon -->
  <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">

</head>

<body>
  <div class="preloader">
    <div class="filler">
      <h1>wvy</h1>
    </div>
  </div>

  <header>
    <div class="container">
      <a class="logo-nav loading" href="">wvy</a>
      <!-- <h1 class="logo">wvy</h1> -->
      <nav>
        <ul class="loading">
          <li class="home-nav"><a href="#home">Home</a></li>
          <span>|</span>
          <li class="works-nav"><a href="#works">Works</a></li>
          <span>|</span>
          <li class="about-nav"><a href="#about">About</a></li>
          <span>|</span>
          <li class="contact-nav"><a href="#contact">Contact</a></li>

        </ul>
      </nav>
    </div>
  </header>

  <div class="containter-fluid">
    <div class="main">
      <div class="transitioner"></div>
      <!--------------- HOME PAGE BEGINS ------------------>
      <!--------------- HOME PAGE BEGINS ------------------>
      <div class="homePage page loading">
        <h1 class="hi loading"> Hi.</h1>
        <h1 class="imwvy loading">I'm <span class="wvy loading">
            <span class="letter">w</span><span class="letter">a</span><span class="letter">v</span><span
              class="letter">e</span><span class="letter">y</span><span class=" dot">.</span></span></h1>
        <p class="wd loading"> >web developer</p>
      </div>
      <!--------------- HOME PAGE ENDS ------------------>
      <!--------------- HOME PAGE ENDS ------------------>

      <!--------------- WOKRS PAGE BEGINS ------------------>
      <!--------------- WOKRS PAGE BEGINS ------------------>

      <div class="worksPage page">

        <div class="works-head">
          <h1>Tools of the Trade</h1>
          <div class="works-head-info">

            <div class="works-info-cont">
              <i class="fa-brands fa-html5 html"></i>
              <h2>HTML</h2>
              <div class="works-info-extra">
                <ul>
                  <li>
                    EJS
                  </li>
                </ul>
              </div>
            </div>

            <div class="works-info-cont">
              <i class="fa-brands fa-css3-alt css"></i>
              <h2>CSS</h2>
              <div class="works-info-extra">
                <ul>
                  <li>Bootstrap</li>
                  <li>SCSS</li>
                </ul>
              </div>
            </div>

            <div class="works-info-cont">
              <i class="fa-brands fa-js-square js"></i>
              <h2>JS</h2>
              <div class="works-info-extra">
                <ul>
                  <li>jQuery</li>
                  <li>GSAP</li>
                  <li>Lodash</li>
                  <li>Slick.js</li>
                </ul>
              </div>
            </div>

            <div class="works-info-cont">
              <i class="fa-brands fa-node-js nodejs"></i>
              <h2>NodeJS</h2>
              <div class="works-info-extra">
                <ul>
                  <li>ExpressJS</li>
                  <li>NPM</li>
                  <li>Passport</li>
                  <li>Sessions</li>
                  <li>OAuth</li>
                </ul>
              </div>
            </div>

            <div class="works-info-cont">
              <img class="mongodb" src="resources/mongodb.png" alt="">
              <h2>MongoDB</h2>
              <div class="works-info-extra">
                <ul>
                  <li>Mongoose</li>
                </ul>
              </div>
            </div>

            <div class="works-info-cont">
              <i class="fa-solid fa-box-archive others"></i>
              <h2>Others..</h2>
              <div class="works-info-extra">
                <ul>
                  <li>API's</li>
                  <li>Git</li>
                  <li>Github</li>
                  <li>Wordpress</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="works-title-cont">
          <i class="fa-solid fa-angles-down"></i>
          <h1 class="works-title">Projects</h1>
          <i class="fa-solid fa-angles-down"></i>
        </div>

        <div class="card-container">
          <div class="card spender-buddy-card">
            <div class="description card-text">
              <svg class="svg-wrapper desc-svg" height="325" width="275" overflow="visible"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="myGradient" gradientTransform="rotate(45)">
                    <stop offset="15%" stop-color="rgba(2,65,247,1)" />
                    <stop offset="55%" stop-color="rgba(88,5,242,1)" />
                    <stop offset="95%" stop-color="rgba(153,27,210,1)" />
                  </linearGradient>
                </defs>
                <rect class="svg-border desc-border " height="1" overflow="visible" width="180"
                  fill="hsla(0, 0%, 0%, 0.8)" stroke="url('#myGradient')" />
              </svg>
              <h1 class="title">Spender Buddy</h1>
              <p class="desc-text">Spender Buddy is a finance management and tracking web-app. I decided to make it
                after noticing that I am terrible at keeping my finances in check. <br> Test username: wavey123 Test
                password: wvy123 </p>
            </div>


            <div class="info-wrapper">
              <svg class="svg-wrapper" height="100" width="100" overflow="visible" xmlns="http://www.w3.org/2000/svg">
                <circle class="i-wrapper-1" cx="50" cy="52" r="38" stroke="#cccccc" />
                <circle class="i-wrapper-2" cx="-50" cy="52" r="38" stroke="url('#myGradient')" />
              </svg>
              <i class="fa-solid fa-info info-icon"></i>
            </div>

            <div class="categories ">
              <div class="category">
                <p>wvy Original</p>
              </div>
              <div class="category">
                <p>Full-Stack</p>
              </div>
              <div class="category">
                <p>OAuth</p>
              </div>
              <div class="category">
                <p>Sessions</p>
              </div>
              <div class="category">
                <p>Cookies</p>
              </div>
              <div class="category">
                <p>Responsive</p>
              </div>

            </div>

            <button class="visit">
              <span><a class="visitAnchor" href="https://spender-buddy.herokuapp.com/" target="_blank" rel="noopener noreferrer"> Check it out <i class="fa-solid fa-up-right-from-square"></i> </a></span>
            </button>

          </div>
        </div>

        <div class="card-container">
          <div class="card wvy-playground-card">
            <div class="description card-text">
              <svg class="svg-wrapper desc-svg" height="325" width="275" overflow="visible"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="myGradient" gradientTransform="rotate(45)">
                    <stop offset="15%" stop-color="rgba(2,65,247,1)" />
                    <stop offset="55%" stop-color="rgba(88,5,242,1)" />
                    <stop offset="95%" stop-color="rgba(153,27,210,1)" />
                  </linearGradient>
                </defs>
                <rect class="svg-border desc-border " height="1" overflow="visible" width="180"
                  fill="hsla(0, 0%, 0%, 0.8)" stroke="url('#myGradient')" />
              </svg>
              <h1 class="title wp-title">WVY's Playground</h1>
              <p class="desc-text">This is basically a collection and testing grounds for cool front-end elements I
                like.</p>
            </div>


            <div class="info-wrapper">
              <svg class="svg-wrapper" height="100" width="100" overflow="visible" xmlns="http://www.w3.org/2000/svg">
                <circle class="i-wrapper-1" cx="50" cy="52" r="38" stroke="#cccccc" />
                <circle class="i-wrapper-2" cx="-50" cy="52" r="38" stroke="url('#myGradient')" />
              </svg>
              <i class="fa-solid fa-info info-icon"></i>
            </div>

            <div class="categories ">
              <div class="category">
                <p>wvy Original</p>
              </div>
              <div class="category">
                <p>Front-End</p>
              </div>
              <div class="category">
                <p>Animations</p>
              </div>
              <div class="category">
                <p>SPA</p>
              </div>

            </div>

            <button class="visit">
              <span><a class="visitAnchor" href="https://wavey-desu.github.io/WVYs-Playground/" target="_blank" rel="noopener noreferrer"> Check it out <i class="fa-solid fa-up-right-from-square"></i> </a></span>
            </button>

          </div>

        </div>

        <div class="itwCont">
          <h1>More in the works!</h1>
          <img src="resources/peepoconstruct.png" alt="A building peepo">
        </div>


      </div>
      <!--------------- WOKRS PAGE ENDS ------------------>
      <!--------------- WOKRS PAGE ENDS ------------------>

      <!--------------- ABOUT PAGE STARTS ------------------>
      <!--------------- ABOUT PAGE STARTS ------------------>
      <div class="aboutPage page">
        <h2>A bit of wavey:</h2>
        <div class="wrapper">

          <div class="section t-one">
            <svg id='svg1' class="svg-wrapper" height="86" width="685" overflow="visible"
              xmlns="http://www.w3.org/2000/svg">
              <defs>
                <linearGradient id="myGradient1" gradientTransform="rotate(45)">
                  <stop offset="15%" stop-color="rgba(2,65,247,1)" />
                  <stop offset="55%" stop-color="rgba(88,5,242,1)" />
                  <stop offset="95%" stop-color="rgba(153,27,210,1)" />
                </linearGradient>
                <linearGradient id="myGradient2" gradientTransform="rotate(65)">
                  <stop offset="15%" stop-color="rgba(2,65,247,1)" />
                  <stop offset="55%" stop-color="rgba(88,5,242,1)" />
                  <stop offset="95%" stop-color="rgba(153,27,210,1)" />
                </linearGradient>
              </defs>
              <rect class="svg-border" height="86" width="685" />
              <circle class="dot" cx="0" cy="45" r="7" fill="url('#myGradient2')" />
            </svg>
            <p class="about"> wavey is just my online handle, my IRL name is Alex Barrera. I'm based in Monterrey,
              Mexico.</p>
          </div>

          <div class="section t-three">
            <svg id='svg2' class="svg-wrapper" height="86" width="685" overflow="visible"
              xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border" height="86" width="685" />
              <circle class="dot" cx="0" cy="45" r="7" fill="url('#myGradient2')" />
            </svg>
            <p class="about">In my personal life I enjoy football (soccer) and support Manchester City.</p>
          </div>
          <div class="section t-four">
            <svg id='svg2' class="svg-wrapper" height="86" width="685" overflow="visible"
              xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border" height="86" width="685" />
              <circle class="dot" cx="0" cy="43" r="7" fill="url('#myGradient')" />
            </svg>
            <p class="about">I like to play videogames on PC and watch Twitch streams when im not coding.</p>
          </div>
          <div class="section t-five">
            <svg id='svg2' class="svg-wrapper" height="86" width="685" overflow="visible"
              xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border" height="86" width="685" />
              <circle class="dot" cx="0" cy="43" r="7" fill="url('#myGradient')" />
            </svg>
            <p class="about">To wind down I throw on some anime or read a good manga.</p>
          </div>
          <div class="section t-six">
            <svg id='svg2' class="svg-wrapper" height="86" width="685" overflow="visible"
              xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border" height="86" width="685" />
              <circle class="dot" cx="0" cy="43" r="7" fill="url('#myGradient')" />
            </svg>
            <p class="about">My favorite food is tacos. I love tacos. All the tacos.</p>
            <p>Chicken tendies are nice too.</p>
          </div>

        </div>

        <div class="media-container">
          <div class="img-container">
            <!-- section 1 media -->
            <svg class="svg-wrapper" height="245" width="322" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s1-img-border " height="245" width="322" />
            </svg>
            <img class="wvy-img1" src="resources/wvy1.jpg" alt="photo of me">
            <p class="img-sub">yo</p>

            <svg class="svg-wrapper" height="245" width="322" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s1-img-border " height="245" width="322" />
            </svg>
            <img class="wvy-img1 img1-2" src="resources/wvy3.jpg" alt="photo of me">
            <p class="img-sub">it's me</p>
            <!-- section 3 media -->
            <svg class="svg-wrapper" height="325" width="485" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s3-img-border " height="325" width="485" />
            </svg>
            <img class="wvy-img2" src="resources/wvy2.jpg" alt="photo of me">
            <p class="img-sub">Manager wavey</p>

            <svg class="circle-wrapper" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
              <circle class="svg-border logo-border" cx="40" cy="50.6" r="20" />
            </svg>
            <img class="wvy-img2 mcfc" src="resources/mcfc.png" alt="mancity">
            <p class="img-sub">C'mon City</p>

            <!-- section 4 media -->
            <svg class="twitch-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="270px"
              height="270px">
              <path class="svg-border paths path-1 path-purple" fill="#8343c8"
                d="M41.754,27.958l-8.455,9.699C33.109,37.875,32.834,38,32.545,38H26.37	c-0.239,0-0.47,0.085-0.651,0.241l-6.438,5.519C19.1,43.915,18.869,44,18.63,44H17c-0.552,0-1-0.448-1-1v-4c0-0.552-0.448-1-1-1H7	c-0.552,0-1-0.448-1-1V15.943c0-0.156,0.036-0.309,0.106-0.448l3.981-7.943C10.257,7.214,10.603,7,10.981,7H41c0.552,0,1,0.448,1,1	v19.301C42,27.543,41.913,27.776,41.754,27.958z" />
              <path class="paths path-white" fill="#fafafa"
                d="M39,26.369c-1.667,1.877-3.333,3.754-5,5.631c-2.333,0-4.667,0-7,0c-2.333,2-4.667,4-7,6c0-2,0-4,0-6	c-2.667-0.008-5.333-0.016-8-0.024C12,24.65,12,17.325,12,10c9,0,18,0,27,0C39,15.456,39,20.912,39,26.369z" />
              <rect class="paths path-purple" width="3" height="10" x="21" y="16" fill="#8343c8" />
              <rect class="paths path-purple" width="3" height="10" x="30" y="16" fill="#8343c8" /></svg>

            <svg class="svg-wrapper" height="205" width="322" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s4-img-border " height="205" width="322" />
            </svg>
            <img class="wvy-img4 league" src="resources/league.gif" alt="LoL">
            <p class="img-sub"><span><img class="lomegalull" src="resources/lol.png" alt="league omegalul"></span></p>


            <svg class="svg-wrapper" height="205" width="322" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s4-img-border " height="205" width="322" />
            </svg>
            <img class="wvy-img4 tarkov" src="resources/pmc-dance.gif" alt="escape from takov">
            <p class="img-sub">Hell on earth</p>
            <!-- section 5 media -->
            <svg class="svg-wrapper" height="205" width="322" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s5-img-border " height="205" width="322" />
            </svg>
            <img class="wvy-img5 kimetsu" src="resources/kimetsu.gif" alt="demon slayer">
            <p class="img-sub">Demon Slayer</p>

            <svg class="svg-wrapper" height="205" width="322" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s5-img-border " height="205" width="322" />
            </svg>
            <img class="wvy-img5 shigatsu" src="resources/shigatsu.png" alt="your lie in april">
            <p class="img-sub">Your Lie in April</p>

            <svg class="svg-wrapper" height="364" width="242" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s5-img-border " height="364" width="242" />
            </svg>
            <img class="wvy-img5 luffy" src="resources/luffy.jpg" alt="one piece manga">
            <p class="img-sub">One Piece</p>
            <!-- section 6 media -->
            <svg class="svg-wrapper" height="275" width="421.5" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s6-img-border " height="275" width="421.5" />
            </svg>
            <img class="wvy-img6 tacos1" src="resources/tacos1.jpg" alt="photo of tacos">
            <p class="img-sub">Breakfast</p>


            <svg class="svg-wrapper" height="275" width="421.5" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-border s6-img-border " height="275" width="421.5" />
            </svg>
            <img class="wvy-img6 tacos2" src="resources/tacos2.jpg" alt="photo of tacos">
            <p class="img-sub">Lunch & Dinner</p>



          </div>
        </div>
      </div>

      <!--------------- ABOUT PAGE ENDS ------------------>
      <!--------------- ABOUT PAGE ENDS ------------------>

      <!--------------- CONTACT PAGE STARTS ------------------>
      <!--------------- CONTACT PAGE STARTS ------------------>
      <div class="contactPage page" id="contactPage">
        <h1 class="input-title">
          Hit me up. Lets work.
        </h1>
        <form class="submit-form" action="/submit" method="post">

          <div class="input-section">
            <div class="input-cont name-cont">
              <label for="name">First & Last</label>
              <input name="fullName" id="name" class="input name-in" type="text" required>
            </div>
            <div class="input-cont email-cont">
              <label for="email">Your email</label>
              <input name="email" id="email" class="input email-in" type="email" required>
            </div>
          </div>
          <div class="input-cont description-cont">
            <label for="description">Tell me about it.</label>
            <textarea id="description" name="description" class="input description-in" required></textarea>
          </div>


          <button class="submit-btn" type="submit">
            <span class="submit">Submit</span>
          </button>

        </form>

        <a class="mailto-link" href="mailto:wavey.dev0@gmail.com">
          <h3 class="email-me">OR just email me</h3>
          <i class="fa-solid fa-paper-plane email-icon"></i>
          <i class="fa-solid fa-circle mailto-btn"></i>
        </a>


        <div class="link-cont">
          <a href="mailto:wavey.dev0@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-regular fa-envelope"></i>  Email me</a>
          <span>|</span>
          <a href="https://github.com/wavey-desu" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i>  GitGub</a>
          <span>|</span>
          <a href="https://www.linkedin.com/in/alex-barrera-603791246/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i>  LinkedIn</a>
          <span>|</span>
          <a href="https://codepen.io/wavey-desu" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-codepen"></i>  Codepen</a>

        </div>
      </div>
      <!--------------- CONTACT PAGE ENDS ------------------>
      <!--------------- CONTACT PAGE ENDS ------------------>


    </div>

  </div>

  <footer class="loading"> &#169; wavey - 2022 </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script> <!-- GSAP native -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  <!-- GSAP scrolltrigger -->
  <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
  <script src="js/index.js" charset="utf-8"></script>
  <script src="js/works.js" charset="utf-8"></script>
  <script src="js/about.js" charset="utf-8"></script>
</body>

</html>