.aboutPage{
    overflow: hidden;
    background: linear-gradient(105deg, rgba(36,36,36,1) 40%, rgba(20,20,20,1) 50%);
}
.about{
    font-size: 1.5rem;
}
.aboutPage h2{
    position: relative;
    /* top: .3rem;
    left: 10%; */
    font-size: 3.5vw;
    font-family: 'Righteous', sans-serif;   
}
.aboutPage .section p{
    font-family: 'Montserrat Alternates', sans-serif; 
    font-size: 1.5vw;
}
.aboutPage img:hover{
    filter: brightness(40%);
}

.wrapper{
    position: absolute;
    left: 0;
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.8rem;
    
}
.aboutPage img{
    z-index: 2;
}
/*///////////////////////// text sections ////////////////////////////*/

.section{
    position: relative;
    height: 12%;
    width: 92.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}
.section p{
    margin-left: 1vw;
}

/*/////// text section svgs/////////// */
.section > .svg-wrapper{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    /* width: 95% !important;
    height: 110% !important; */
}
.section > .svg-wrapper > .svg-border{
    fill: transparent;
    width: 100% !important;
    height: 100% !important;
    stroke-width: 1%;
    stroke-dasharray: 0 315%;
    stroke-dashoffset: -305%; 
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: 
        stroke-dashoffset 1s ease-in-out,
        stroke-dasharray 1s ease-in-out,
        stroke .1s;

}

.section > .svg-wrapper:hover .svg-border{
    stroke-dasharray: 315%;
    stroke-dashoffset: 0;
}
.section > .svg-wrapper:hover{
    cursor: help;
}
.dot{
    position: absolute;
    z-index: -1;
    r: 1.7%;
    transition: r 1s;
}
.section > .svg-wrapper:hover .dot{
    r: 0;
}
/*///////////////////////// text sections ////////////////////////////*/

/*////////////////////// Media Container /////////////////////////////*/

.media-container{
    position: absolute;
    left: 50%;
    height: 90vh;
    width: 50vw;
}

/* section-1-imgs */
.wvy-img1{
    position: absolute;
    width: 45%;
    height: 40%;
}
.wvy-img1:nth-of-type(1){
    left: 7.5%;
    top: 7.5%;
}
.wvy-img1:nth-of-type(2){
    right: 7.5%;
    bottom: 7.5%;
}


/* section-2-imgs */
.wvy-img2{
    position: absolute;
    width: 70%;
    height: 55%;
    top: 2.5%;
    left: 15%;
    z-index: 1;

}
.mcfc{
    width: 33%;
    height: 38.5%;
    top: 58.8%;
    left: 33.5%;
}

/* section-3-imgs */

.wvy-img3{
    position: absolute;
    width: 42.5%;
    height: 34%;
    bottom: 15%;
}

.league{
    left: 3.5%;
}
.tarkov{
    right: 3.5%;
}

/* section 4 imgs */
.wvy-img4{
    position: absolute;
    width: 50%;
    height: 35%;
    left: 2%;
}
.kimetsu{
    top: 10%;
}
.shigatsu{
    bottom: 10%;
}
.luffy{
    width: 35%;
    height: 60%;
    left: 60%;
    top: 20%;
}

/* section 5 images */
.wvy-img5{
    position: absolute;
    width: 52.5%;
    height: 42.5%;
}
.tacos1{
    right: 3.5%;
    top: 5%;
}
.tacos2{
    left: 3.5%;
    bottom: 5%;
}

/*///////////// IMG-SVGs /////////////*/
.media-container > .svg-wrapper{
    position: absolute;
    overflow: visible;
    fill: none;
}
.media-container  .svg-border{
    stroke-linejoin: round;
    stroke-linecap: round;
    z-index: 1;
    stroke-width: 2%;
    transition: stroke-dashoffset 1s ease-out;
    fill: none;
}
/* section1 */
.s1-wrapper{
    width: 46%;
    height: 41%;
}

.s1-wrapper:nth-of-type(1){
    left: 7%;
    top: 7%;
}
.s1-wrapper:nth-of-type(2){
    right: 7%;
    bottom: 7%;
}
.s1-img-border{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%; 
}

/* section 2 */
.s2-wrapper{
    width: 71.5%;
    height: 56.5%;
    top: 1.75%;
    left: 14.25%;
}
.s2-img-border{
    width: 100%;
    height: 100%;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;     
}

.circle-wrapper{
    width: 34.5%;
    height: 35%;
    top: 60.75%;
    left: 32.75%;
}
.logo-border{
    fill: transparent;
    r:52%;
    stroke-dasharray: 333%;
    stroke-dashoffset: 333%; 
}
/* section 3 */
.twitch-wrapper{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 0;
    fill: none;
    overflow: visible;
    z-index: 1;
}
.twitch-border{
    position: absolute;
    stroke-width: 1.5px !important; 
    stroke-dasharray: 275%;
    stroke-dashoffset: 275%;
}
.paths{
    transition: fill 1s ease;
}
.path-purple{
    fill: #8343c8;
    fill: transparent;
}
.path-white{
    fill: #fafafa;
    fill: transparent;
}

.s3-wrapper{
    width: 43.4%;
    height: 34.8%;
    bottom: 14.7%;
}
.s3-wrapper1{
    left: 3.1%;
}
.s3-wrapper2{
    right: 3.1%;
}
.s3-img-border{ 
    width: 100%;
    height: 100%;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
}


/* section 4 */
.s4-wrapper{
    width: 51%;
    height: 36%;
    left: 1.5%;
}
.s4-wrapper1{
    top: 9.5%;
}
.s4-wrapper2{
    bottom: 9.5%;
}
.s4-wrapper3{
    width: 36%;
    height: 61%;
    left: 59.5%;
    top: 19.5%;
}
.s4-img-border{
    width: 100%;
    height: 100%;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
}

/* section 5 */
.s5-wrapper{
    width: 53.5%;
    height: 43.5%;
}
.s5-wrapper1{
    right: 3%;
    top: 4.5%;
}
.s5-wrapper2{
    left: 3%;
    bottom: 4.5%;
}
.s5-img-border{
    width: 100%;
    height: 100%;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
}

/*//////////////// img subtext-on hover animation //////////////////////*/

.img-sub{
    font-family: 'Righteous', sans-serif;   
    position: absolute;
    font-size: 10vh;
    z-index: 2;
    white-space: nowrap;
    transform-origin: 50% 90%;
    transform: rotateX(90deg);
    transition: transform .3s ease-out;
  }
  .aboutPage img:hover+.img-sub{
    transform: rotateX(0deg)
  }
  .img-sub:hover{
    transform: rotateX(0deg);
    cursor: default;
  }

.img-sub:nth-of-type(1){
    top: 33%;
    left: 8%;
}
.img-sub:nth-of-type(2){
    bottom: 6%;
    right: 22%;
}
.img-sub:nth-of-type(3){
    font-size: 8.5vh;
    left: 18%;
    bottom: 42%;      
}
.img-sub:nth-of-type(4){
    font-size: 6vh;
    left: 36%;
    bottom: 19%;
      
}
.img-sub:nth-of-type(5){
    left: 12.5%;
    bottom: 15%;
      
}
.lomegalull{
    width: 14vw;
}
.img-sub:nth-of-type(6){
    font-size: 7vh;
    right: 6%;
    bottom: 15%;
}
.img-sub:nth-of-type(7){
    font-size: 3.5vw;
    top: 35%;
    left: 5%;
}
.img-sub:nth-of-type(8){
    font-size: 3vw;
    bottom: 10%;
    left: 5%;
      
}
.img-sub:nth-of-type(9){
    font-size: 3.5vw;
    bottom: 20%;
    right: 6.5%;
      
}
.img-sub:nth-of-type(10){
    top: 32.5%;
    right: 10%;
}
.img-sub:nth-of-type(11){
    font-size: 3.5vw;
    bottom: 5%;
    left: 5%;
}



