:root{
    --linear-gradient: linear-gradient(270deg, rgba(2,65,247,1) 16%, rgba(88,5,242,1) 48%, rgba(153,27,210,1) 88%);
    
    --bg-1: #101010;
    --bg-2: #242424;
    --text-color: #cccccc;
  }
.homePage h1{
  font-family: 'Montserrat Alternates', sans-serif; 
  font-weight: 600;
}
.homePage h2{
  font-family: 'Righteous', sans-serif;
}

/* navbar animate */
nav ul {
  transform-origin: 50% 150%;
  transform: rotateX(90deg);
  animation: rotate-in .8s ease-out 12s forwards; 
}
.logo-nav{
  transform-origin: 50% 150%;
  transform: rotateX(90deg);
  animation: rotate-in .8s ease-out 12s forwards; 
}
/* main */
.homePage{ 
  background-color: var(--bg-1);
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  border-color: transparent;
  animation: 
    border-in 1s ease-in 10s forwards,
    bg-fadein 2s ease-out 11s forwards;

}

 
.hi{
  position: absolute;
  font-size: 14vw;
  left: 45%;
  top: 1%;
  opacity: 0;
  animation: 
    load-fade 1.5s ease-in-out forwards, 
    hi-move 2s cubic-bezier(0.65, 0.05, 0.36, 1) 1.5s forwards;
}
 
.imwvy{
  position: absolute;
  font-size: 14vw;
  left: 6%;
  top: 35%;
  opacity: 0;

  background-image: var(--linear-gradient);
  background-size: 250%;
  background-clip: text;
  -webkit-background-clip: text;

  animation: 
  load-fade 1.8s ease-out 3.8s forwards,
  bg-animation 25s ease-in-out infinite;

}
.wvy{
  font-weight: 700;
  display: inline-block;
  background-image:  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
  background-size: 150%;
  background-repeat: repeat-x;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;

  animation: 
    wave 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, 
    wvy-breathin 2.5s ease-out 4.2s;
  transition: color 750ms;
} 
.wvy:hover{
  color: transparent;
  cursor: help;
}

.letter{
  display: inline-block; 
  transition: font-size 1s;
}
.letter:hover{
  font-size: 15vw;
}
span .dot{
  color: transparent;
}

.wd{
  position: absolute;
  font-family: 'Share Tech Mono', monospace;
  right: 1%;
  bottom: 20%;
  font-size: 2vw;
  width: max-content;
  opacity: 0;
  animation: 
    load-fade 2s ease-in 5s forwards;

}
.wd::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1ch;
}
.wd::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  left: 1ch;
}

.wd::before {
  background: var(--bg-1);
  animation: typewriter 2s steps(13) 19.5s forwards;
}

.wd::after {
  width: .8ch;
  height: 1.5ch;
  background: black; 
  animation: typewriter 2s steps(13) 19.5s forwards,
    blink 900ms steps(13) infinite;
}

footer{
  opacity: 0;
  animation: load-fade .8s ease 12s forwards;
}

/* keyframes */
@keyframes slide-in{
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}

@keyframes wave{
  0%{}
  100%{background-position: 300% 100%;}
} 

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

@keyframes bg-fadein { 
  0% {background-color: var(--bg-1);}
  100%{background-color: var(--bg-2);}
}

@keyframes load-fade{
  0% {opacity: 0;}
  100% {opacity: 1;}
  
}

@keyframes hi-move{
  0% {left: 45%;}
  100% { left: 5%;}
}
@keyframes wvy-breathin{
  0%{}
  50%{color:transparent; font-size:15vw;}
  100%{}
}

@keyframes rotate-in{
  0%{ transform: rotateX(90deg) }
  80%{ transform: rotateX(-20deg) }
  100%{ transform: rotateX(0deg) }
  }  

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
    border-color: transparent;
  }
}
@keyframes border-in{
  to{border-top-color: #cccccc; border-bottom-color: #cccccc;}
}
